.neighborhood {
  display: flex;
  height: 28px;
  align-items: center;
  margin-bottom: 5px;

}

.neighborhood:hover {
  background: lightyellow;
  cursor: pointer;
}

.title {
  flex:1 0 200px;;
  max-width:200px;
  height:100%;
  display: flex;
  align-items: center;
}

.bar-group {
  /* flex:1; */
  height: 100%;
  position: relative;
}

