.neighborhood {
  display: flex;
  height: 28px;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  width: 200px;
}

.bar-group {
  height: 100%;
  position: relative;
}

.bar {
  background: rgb(212, 209, 209);
  height: 100%;
  align-items: center;
}

.circle {
  top: 7px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid;
  background: green;
  height: 15px;
  width: 15px;
  left: calc(80% - 24px);
}
