.circleToolTip {
  /* width: 250px; */
  display: inline-block;
  position:relative;
  background: white;
  padding: 5px 20px;
  text-align: left;
  border: 1px solid;
  box-shadow: 2px 2px #7b7575;
  z-index: 100;
}

.circleToolTip .circle-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.circleToolTip .circle-neighborhood,
.circleToolTip .avg {
  margin: 0;
}

/* .circleToolTip p {
  margin-bottom:5px;
} */
